@{
    ViewData["Title"] = "Home Page";
}





<div class="container">
    <div class="task-box shadow p-2">
        <table id="task-dataTable" class="display table-hover table table-condensed table-sm">
            <thead>
                <tr>
                    <th>Task Name</th>
                    <th>Group</th>
                    <th>Previous Fire Time</th>
                    <th>Next Fire Time</th>
                </tr>
            </thead>
        </table>
        <embed type="text/html" src="http://192.168.10.88:5000" style="width:100%; height:40vh" />
    </div>
</div>



@section Scripts{
    <script type="module">
        //$('.task-box').
        //$(".task-box").click((item, e) => {
        //    $(".task-box").each((index,item) => {
        //        $(item).removeClass("task-box-active");
        //    });
        //     $(item.target).addClass('task-box-active');
        //    console.log(item.target.outerText)
        //})
        import interact from
            'https://cdn.interactjs.io/v1.10.8/interactjs/index.js'

        const position = { x: 0, y: 0 }

        //interact('.task-box').draggable({
        //    listeners: {
        //        start(event) {
        //            console.log(event.type, event.target)
        //        },
        //        move(event) {
        //            position.x += event.dx
        //            position.y += event.dy

        //            event.target.style.transform =
        //                `translate(${position.x}px, ${position.y}px)`
        //        },
        //    }
        //})
    </script>

}