@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>

<iframe  src="https://192.168.10.93:9001"  style="border:none" data-html="true" width="800" height="600"></iframe>
<iframe  src="https://192.168.10.88:5001"  style="border:none" data-html="true" width="800" height="600"></iframe>
