
.dataTables_length>.dt-buttons {
    padding-left:1rem;
    padding-right:1rem;
}

.task-box{
    
    height:82vh;
}
#task-dataTable{
    width:100%;
}
.top-banner {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    top: 0;
    min-height: 3rem;
}

/*Docs Scrollbar*/
object::-webkit-scrollbar {
    width: 1em;
}



object::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
    -moz-box-shadow: inset 0 0 6px rgba(0,0,0,0.9);
}

.myClass{
    background-color:red
}

.myClass:hover{
    background-color:pink
}

.weekly-grid{
    display:grid;
    grid-template-columns:auto auto auto auto;
}